[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# packages for development and for running examples
ipykernel = "*"
python-language-server = {extras = ["all"],version = "*"}
gunicorn = "*"
cx-oracle = "*"
scikit-learn = "*"
rpy2 = {version = "==3.0.4", sys_platform = "== 'darwin'"}
# tzlocal is no requirement of launchpad but of rpy2.python2pi
tzlocal = "*"
# Removed due to incompatibility with pip on windows.
# The conda install of 2.9.4 works (you have to adapt some code)
#rpy2 = {version = "==2.9.4", sys_platform = "== 'win32'"}

[packages]
flask = "*"
flask-restful = "*"
ramlfications = "*"
dill = "*"
pandas = "*"

[requires]
python_version = "3.7"
