-i https://pypi.org/simple
-e .
absl-py==0.7.1
alabaster==0.7.12
aniso8601==7.0.0
appnope==0.1.0 ; sys_platform == 'darwin'
argh==0.26.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
babel==2.7.0
backcall==0.1.0
bleach==3.1.0
bumpversion==0.5.3
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
click==7.0
colorlog==3.2.0
coverage==4.5.3
cryptography==2.7
cx-oracle==7.2.0
decorator==4.4.0
dill==0.3.0
docutils==0.15
flask-restful==0.3.7
flask==1.1.1
future==0.17.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.22.0
gunicorn==19.9.0
h5py==2.9.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.18
ipykernel==5.1.1 ; sys_platform == 'darwin'
ipython-genutils==0.2.0
ipython==7.6.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.13.3
jinja2==2.10.1
joblib==0.13.2
jsonref==0.2
jupyter-client==5.3.1
jupyter-core==4.5.0
keras-applications==1.0.8
keras-preprocessing==1.1.0
keras==2.2.4
lazy-object-proxy==1.4.1
markdown2==2.3.8
markdown==3.1.1
markupsafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
nox==2019.5.30
numpy==1.16.4
packaging==19.0
pandas==0.25.0
parso==0.5.1
pathtools==0.1.2
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pkginfo==1.5.0.1
pluggy==0.12.0
prompt-toolkit==2.0.9
protobuf==3.9.0
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
pydocstyle==4.0.0
pyflakes==2.1.1
pygments==2.4.2
pylint==2.3.1
pyparsing==2.4.0
pyperclip==1.7
pytest-cov==2.7.1
pytest-runner==5.1
pytest==5.0.1
python-dateutil==2.8.0
python-dotenv==0.10.3
python-jsonrpc-server==0.2.0
python-language-server[all]==0.27.0 ; sys_platform == 'darwin'
pytz==2019.1
pyyaml==5.1.1
pyzmq==18.0.2
ramlfications==0.1.9
readme-renderer==24.0
requests-toolbelt==0.9.1
requests==2.22.0
rope==0.14.0
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
snowballstemmer==1.9.0
sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow==1.14.0
termcolor==1.1.0
tornado==6.0.3
tqdm==4.32.2
traitlets==4.3.2
travis-encrypt==1.3.1
twine==1.13.0
typed-ast==1.4.0 ; implementation_name == 'cpython'
urllib3==1.25.3
virtualenv==16.6.2
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
werkzeug==0.15.5
wheel==0.33.4
wrapt==1.11.2
xmltodict==0.12.0
yapf==0.28.0
zipp==0.5.2
